__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

build/
*.egg-info/

out/
ckpts/

data/nuscenes/
data/nuscenes_cam/
data/surroundocc/

*.so
*.pth
*.pt
*.log
*.mp4
*.gif

config/__pycache__/
dataset/__pycache__/
loss/__pycache__/
misc/__pycache__/
model/__pycache__/
model/**/__pycache__/
tools/__pycache__/

model/encoder/gaussian_encoder/ops/build/
model/head/localagg/build/trace.json
trace.json
